body{
    background-color: rgba(250, 150, 150, 0.8)
}

#profile_image{
    border: 2px dotted black;
}

.layout{
    
}

.layout{
    color: #5959c4;
    font-family: cursive;
}
table tr:first-child{
    background-color: rgba(250, 250, 250, 0.8)  
}

.myheader {
  text-align: center;
  background-color: white;
}

.imgstyle1{
    border-radius: 50%;
}


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#A{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 100px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 500px;
    
    
  }
